<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="../../../static/css/variables.css">
    <link rel="stylesheet" href="../../../static/css/standard.css">
    <link rel="stylesheet" href="../../../static/css/dashboard/register_time_dyna.css">

    <%- include('../../font') %>

</head>
<body>
    <h2 class = "dashboard_title">Registrer en økt</h2>
</body>
</html>
