body {
    margin: 0;
    background-color: var(--bg-primary);
    font-family: var(--font);
}

html {
    scroll-behavior: smooth;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(228, 228, 228);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777777;
    cursor:default;
}


input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.sec_main_con {
    width: 80%;
    max-width: 1300px;
}

.main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}


.dashboard_title {
    font-size: 1em;
    font-weight: 300;
    color: var(--text-color-grey);
    margin: 0;
}


.normal_link {
    margin: 0;
    color: var(--attention-primary);
    text-decoration: none;
    font-weight: 600;

}

.normal_title {
    margin: 0;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--text-color-black);
}

.normal_text {
    margin: 0;
    font-size: 1em;
    font-weight: 300;
    color: var(--text-color-black);
}

.big_title {
    margin: 0;
    color: var(--text-color-black);
    font-size: 1.7em;
    font-weight: 500;
}

.medium_title {
    margin: 0;
    color: var(--text-color-black);
    font-size: 1.1em;
    font-weight: 400;
}

.normal_text {
    margin: 0;
    color: var(--text-color-grey);
    font-size: 0.95em;
    font-weight: 400;
}

.small_text {
    margin: 0;
    color: var(--text-color-grey);
    font-size: 0.77em;
    font-weight: 400;

}




.search_bar_con {
    display: flex;
    position: relative;
}

.search_bar {
    height: 35px;
    font-family: var(--font);
    font-size: 1.05em;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 40px;
    border: 1px solid var(--border-color-primary);
    outline: none;
    transition: all ease-in-out 100ms;
}

.search_bar:focus {
    border-color: var(--border-color-focus);
}

.search_icon_con {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

}

.search_icon_con path {
    stroke: var(--bg-primary);
}






@media screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
}
