<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studietid - Glemt passord</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" href="../static/rsc/img/studie_logo.png">

    <link rel="stylesheet" href="../../static/css/variables.css">
    <link rel="stylesheet" href="../../static/css/standard.css">
    <link rel="stylesheet" href="../../static/css/account/login.css">

    <%- include('../font') %>
</head>
<body>
    <div class = "main_page_login">
        <div class = "input_container_ext">
            <div class = "inside_container_padding">
                <div class = "inside_container">
                    <div style="height: 20px;"></div>
                    <h1 class = "title_login">Glemt passord</h1>
                    <div style="height: 30px;"></div>
                    <p class = "simple_text">En e-post sendes til innboksen din. I e-posten kan du trykke på 'Endre passord', og et vindu åpnes hvor du kan oppdatere passordet.</p>
                    <div style="height: 30px;"></div>
                    <% if (email_not_exist) { %>
                        <div class = "wrong_login_con">
                            <div class = "wrong_login_icon_con">
                                <%- include('../../static/rsc/icons/eye') %>
                            </div>
                            <p class = "wrong_login_text">Finner ikke e-posten i våre systemer.</p>
                        </div>
                        <div style="height: 20px;"></div>
                    <% } %>
                    <form action="/account/forgot_password_send_email" method="POST">
                        <div class = "input_field_con">
                            <input class = "input_field" type="email" id="email" name="email" placeholder="E-post" required>
                            <div class = "icon_con">
                                <%- include('../../static/rsc/icons/email') %>
                            </div>
                        </div>
                        <div style="height: 40px;"></div>
                        <button class = "main_btn" type="submit">Send e-post</button>
                    </form>
                    <div style="height: 50px;"></div>
                    <a class = "go_back" href="/account/login">Gå tilbake...</a>

                </div>

            </div>
        </div>
    </div>
</body>