<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studietid - Registrer deg</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="icon" href="../static/rsc/img/studie_logo.png">
    <link rel="stylesheet" href="../../static/css/variables.css">
    <link rel="stylesheet" href="../../static/css/standard.css">
    <link rel="stylesheet" href="../../static/css/account/login.css">
    <%- include('../font') %>
</head>
<body>
    <div class="main_page_login">
        <div class="input_container_ext">
            <div class="inside_container_padding">
                <div class="inside_container">
                    <div style="height: 20px;"></div>
                    <h1 class="title_login">Registrer deg</h1>
                    <div style="height: 40px;"></div>
                    <form action="" method="POST" onsubmit="return validateForm()">
                        <div class = "input_field_con">
                            <input class = "input_field" type="text" id="name" name="name" placeholder="Navn" required>
                            <div class = "icon_con">
                                <%- include('../../static/rsc/icons/user') %>
                            </div>
                        </div>
                        <div style="height: 18px;"></div>
                        <div class = "input_field_con">
                            <input class = "input_field" type="email" id="email" name="email" placeholder="E-post" required>
                            <div class = "icon_con">
                                <%- include('../../static/rsc/icons/email') %>
                            </div>
                        </div>
                        <div style="height: 18px;"></div>
                        <div class="input_field_con">
                            <input class="input_field" type="password" id="password" name="password" placeholder="Passord" required>
                            <div class="icon_con">
                                <%- include('../../static/rsc/icons/password') %>
                            </div>
                        </div>
                        <div style="height: 18px;"></div>
                        <div class="input_field_con">
                            <input class="input_field" type="password" id="password_repeat" name="password_repeat" placeholder="Gjenta passord" required>
                            <div class="icon_con">
                                <%- include('../../static/rsc/icons/password') %>
                            </div>
                        </div>
                        <div style="height: 22px;"></div>
                        <div id="password-requirements">
                            <p id="length-requirement" class="requirement-text">Minst 8 tegn</p>
                            <p id="number-requirement" class="requirement-text">Inneholder 1 tall</p>
                        </div>
                        <div style="height: 50px;"></div>
                        <button id="submitBtn" disabled class="main_btn" type="submit">Registrer og logg inn</button>
                        <div style="height: 50px;"></div>
                        <a class = "go_back" href="/account/login">Har du allerede en bruker?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function updateSubmitButtonState() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("password_repeat").value;
            
            var lengthRequirementMet = password.length >= 8;
            var numberRequirementMet = /\d/.test(password);
            var passwordsMatch = password === confirmPassword;
    
            var submitBtn = document.getElementById("submitBtn");
            if (lengthRequirementMet && numberRequirementMet && passwordsMatch) {
                submitBtn.disabled = false;
            } else {
                submitBtn.disabled = true;
            }
        }
    
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("password_repeat");
        var lengthRequirement = document.getElementById("length-requirement");
        var numberRequirement = document.getElementById("number-requirement");
    
        passwordField.addEventListener("input", function() {
            var passwordValue = passwordField.value;
    
            if (passwordValue.length >= 8) {
                lengthRequirement.classList.add("valid");
            } else {
                lengthRequirement.classList.remove("valid");
            }
    
            if (/\d/.test(passwordValue)) {
                numberRequirement.classList.add("valid");
            } else {
                numberRequirement.classList.remove("valid");
            }
    
            if (confirmPasswordField.value !== "") {
                if (confirmPasswordField.value === passwordValue) {
                    confirmPasswordField.style.borderColor = "green";
                } else {
                    confirmPasswordField.style.borderColor = "red";
                }
            }
    
            updateSubmitButtonState();
        });
    
        confirmPasswordField.addEventListener("input", function() {
            if (confirmPasswordField.value === "") {
                confirmPasswordField.style.borderColor = "var(--border-color-primary)";
            } else if (confirmPasswordField.value === passwordField.value) {
                confirmPasswordField.style.borderColor = "green";
            } else {
                confirmPasswordField.style.borderColor = "red";
            }
    
            updateSubmitButtonState();
        });
    </script>
    
</body>
</html>
